.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
body {
  font-family: "Roboto";
  background-color: rgb(241, 241, 241);
  overflow-x: hidden;
  width: 100%;
}
body::-webkit-scrollbar{
  display: none;
}


